<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="./kishor-logo2.png" />
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">HOME</a> -->
        <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">MATCHES</a> -->
        <a class="nav-link" routerLink="bio" routerLinkActive="active">Bio</a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">POINTS TABLE</a> -->
        <a class="nav-link" routerLink="skills" routerLinkActive="active"
          >Skills</a
        >
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">TEAMS</a> -->
        <a
          class="nav-link"
          routerLink="workexperience"
          routerLinkActive="active"
          >Work Experience</a
        >
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">TEAMS</a> -->
        <a class="nav-link" routerLink="education" routerLinkActive="active"
          >Education</a
        >
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">TEAMS</a> -->
        <a
          class="nav-link"
          routerLink="certifications"
          routerLinkActive="active"
          >Certifications</a
        >
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">TEAMS</a> -->
        <a class="nav-link" routerLink="contact" routerLinkActive="active"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</nav>
