<div class="border p-2 m-2">
  <h4 class="text-center">Model Driven Form</h4>
  <div class="container">
    <div class="col-sm-4 offset-4 border border-5 p-3 rounded-3">
      <form [formGroup]="userForm" (submit)="submitUserForm()">
        <div class="mb-3">
          <label for="name" class="form-label">User Name</label>
          <input
            type="email"
            class="form-control"
            id="name"
            name="name"
            aria-describedby="username"
            formControlName="name"
            required
            minlength="5"
          />
          <span
            class="text-danger"
            *ngIf="userForm.controls['name'].hasError('required')"
          >
            Name is Required
          </span>
          <span
            class="text-danger"
            *ngIf="userForm.controls['name'].hasError('minlength')"
          >
            Name should be 10 Characters
          </span>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            formControlName="email"
            aria-describedby="email"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            formControlName="password"
            id="password"
            required
          />
        </div>
        <div class="mb-3">
          <label for="gender" class="form-label">Gender</label>
          <input
            type="radio"
            class="form-check-input"
            name="gender"
            id="male"
            value="male"
            formControlName="gender"
          />Male
          <input
            type="radio"
            class="form-check-input"
            name="gender"
            id="female"
            value="female"
            formControlName="gender"
          />Female
        </div>
        <div formGroupName="address">
          <div class="mb-3">
            <label for="name" class="form-label">Street Name</label>
            <input
              type="streetname"
              class="form-control"
              id="streetname"
              name="streetname"
              formControlName="streetname"
              aria-describedby="streetname"
            />
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">City</label>
            <input
              type="address"
              class="form-control"
              id="city"
              name="city"
              formControlName="city"
              aria-describedby="city"
            />
          </div>
        </div>

        <button type="reset" class="btn btn-warning mx-2">Reset</button>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="userForm.invalid"
        >
          Submit
        </button>
      </form>
      <div class="mt-5">
        Form Data:
        <pre>
            {{ userForm.value | json }}
        </pre>
      </div>
    </div>
  </div>
</div>
