<h3 class="text-center">Directives</h3>
<div class="border p-2 m-2">
  <h3>If Else (Before Angular 17)</h3>
  <div>Change the Num Value and Check if it is even or odd</div>
  <input type="number" [(ngModel)]="num" />
  <div *ngIf="num % 2 == 0">{{ num }} is Even</div>
  <div *ngIf="num % 2 != 0">{{ num }} is Odd</div>
</div>

<div class="border p-2 m-2">
  <h3>If Else (After Angular 17)</h3>
  <div>Change the Num Value and Check if it is even or odd</div>
  <input type="number" [(ngModel)]="num" />
  @if(num%2==0){
  <div>{{ num }} is Even</div>
  }@else {
  <div>{{ num }} is Odd</div>
  }
</div>

<div class="border p-2 m-2">
  <h3>Switch Case</h3>
  <div>Change the dayNumber Value and Check if it is even or odd</div>
  <input type="number" [(ngModel)]="dayNumber" />
  @switch(dayNumber) { @case (1) {
  <h4>Monday</h4>
  } @case (2) {
  <h4>Tuesday</h4>
  } @case (3) {
  <h4>Wednesday</h4>
  } @case (4) {
  <h4>Thursday</h4>
  } @case (5) {
  <h4>Friday</h4>
  } @case (6) {
  <h4>Saturday</h4>
  } @case (7) {
  <h4>Sunday</h4>
  } @default {
  <h4>Not a Valid Day</h4>
  } }
</div>

<div class="border p-2 m-2">
  <h3>Display Dropdown Values For Loop Case</h3>
  <select [(ngModel)]="selectedState">
    @for(state of stateNames; track $index){
    <option>{{ state }}</option>
    }
  </select>
</div>

<div class="mt-2">
  <ul>
    @for(state of stateNames; track $index){
    <li>{{ state }}</li>
    }
  </ul>
</div>

<div class="border p-2 m-2">
  <h3>Country List DataList</h3>
  <input list="states" />
  <datalist id="states">
    @for(state of stateNames; track $index){
    <option>{{ state }}</option>
    }
  </datalist>
</div>

<div class="border p-2 m-2">
  <h3>Country List Grid</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Serial No</th>
        <th>Emp Id</th>
        <th>Emp Name</th>
        <th>Emp Sal</th>
        <th>Gender</th>
        <th>isFirst</th>
        <th>isLast</th>
        <th>isEven</th>
        <th>isOdd</th>
      </tr>
    </thead>
    <tbody>
      <!-- using trackBy-->
      <!-- trackBy $emp.eId-->
      @for(emp of employees; track $index){
      <tr [style.color]="$first ? 'red' : 'green'">
        <td>{{ $index + 1 }}</td>
        <td>{{ emp.eId }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.sal }}</td>
        <td>{{ emp.gender }}</td>
        <td>{{ $first }}</td>
        <td>{{ $last }}</td>
        <td>{{ $even }}</td>
        <td>{{ $odd }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>

<div class="border p-2 m-2">
  <div>Lets Understand ngStyle</div>
  <input type="number" [(ngModel)]="num" />
  <p [style.color]="num % 2 == 0 ? 'blue' : 'red'">Add Color Dynamically</p>
  <p [style.fontSize.px]="num % 2 == 0 ? 48 : 24">Add style conditionally</p>
  <p [style.background-color]="num % 2 == 0 ? 'green' : 'blue'">
    Add style conditionally
  </p>
  <p [ngStyle]="num % 2 == 0 ? myStyle1 : myStyle2">
    NgStyle for multiple values
  </p>
  <p [ngStyle]="myFunction()">NgStyle for multiple values</p>
</div>

<div class="border p-2 m-2">
  <div>Lets Understand ngClass</div>
  <input class="m-2 p-2" type="number" [(ngModel)]="num" />
  <button [ngClass]="['btn', num % 2 == 0 ? 'btn-success' : 'btn-danger']">
    Test Button
  </button>
</div>

<div class="border p-2 m-2">
  <div>Lets understand ng-template</div>
  <div *ngIf="num % 2 == 0; else oddBlock">{{ num }} is even</div>
  <ng-template #oddBlock> {{ num }} is isOdd</ng-template>
</div>

<div class="border p-2 m-2">
  <div>Lets understand ng-container</div>
  <div *ngIf="num % 2 == 0; else oddBlock">{{ num }} is even</div>
  <ng-template #oddBlock> {{ num }} is isOdd</ng-template>
</div>

<div class="border p-2 m-2">
  <div>Lets understand Custom directive</div>
  <input appNumberonly />
  <!--input is host element and numberonly is directive-->
  <h2 appHighlight>This Element hosts appHighlight directive</h2>
</div>
