<style>
  .category {
    text-align: center; /* Center everything inside */
  }

  .category img {
    display: block;
    margin: 0 auto; /* Center the image */
    max-width: 100px; /* Optional: control image size */
  }

  .category div {
    margin-top: 8px;
    font-weight: bold;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="category">
        <img
          src="https://scores.iplt20.com/ipl/teamlogos/NVAlbtIyB81740555172aFPMviEPyJ1710927747rcb.png"
        />
        <div>RCB</div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <img src="https://scores.iplt20.com/ipl/teamlogos/SRH.png" />
        <div>SRH</div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <img src="https://scores.iplt20.com/ipl/teamlogos/CSK.png" />
        <div>CSK</div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <img src="https://scores.iplt20.com/ipl/teamlogos/GT.png?v=1" />
        <div>GT</div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <img src="https://scores.iplt20.com/ipl/teamlogos/MI.png" />
        <div>MI</div>
      </div>
    </div>
  </div>
</div>
