<style>
  img {
    border: 5px dotted lightcoral;
  }
</style>

<h3 class="text-center">Lets Learn Data Binding</h3>
<div class="border p-2 m-2">
  <div style="color: yellow">User Name is: {{ userName }}</div>
  <div>User Name is: <span [innerHTML]="userName"></span></div>
  <img src="{{ imgUrl }}" alt="kohli" width="250" height="300" />
  <img [src]="imgUrl" alt="kohli" width="250" height="300" />
  <img bind-src="imgUrl" alt="kohli" width="250" height="300" /><br />

  <div>Fav Actor is: {{ favActor }}</div>
  <div [id]="favActor">Fav Actor is: {{ favActor }}</div>
  <img src="{{ imgFavUrl1 }}" alt="prabhas" width="250" height="300" />
  <img [src]="imgFavUrl" alt="prabhas" width="250" height="300" />
  <img bind-src="imgFavUrl2" alt="prabhas" width="250" height="300" />
  <img bind-src="imgFavUrl3" alt="prabhas" width="250" height="300" />
  <div class="mt-3">
    1 way data Binding <input type="text" value="{{ favActor }}" />
  </div>

  <div class="mt-2">
    <!-- 1 way data Binding-->
    <!--Interpolation-->
    <div class="mb-3">
      1 way data Binding <input type="text" value="{{ userName }}" />
    </div>
    <!-- property binding-->
    <input type="text" [value]="userName" />
    <!-- property binding without [] we use bind-value-->
    <input type="text" bind-value="userName" />
    <input type="text" [(ngModel)]="userName" />
    <input type="text" bindon-ngModel="userName" />
  </div>

  <div class="mt-2">
    <button class="btn btn-primary" disabled="{{ false }}">Click Me</button>
    <button class="btn btn-primary mx-2" [disabled]="false">Click Me</button>
    <button class="btn btn-primary mx-2" bind-disabled="false">Click Me</button>
  </div>

  <div class="mt-2">
    <button class="btn btn-warning" (click)="f1()">Click Me</button>
    <button class="btn btn-warning mx-2" on-click="f1()">Click Me</button>
  </div>

  <div class="mt-2">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td [colSpan]="myColSpan">John</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="m-2 border">
    <div>Addition</div>
    <input [(ngModel)]="num1" />
    <input [(ngModel)]="num2" />
    <div>Addition of {{ num1 }} and {{ num2 }} is {{ +num1 + +num2 }}</div>
  </div>

  <div class="m-2 border">
    <label>User Name</label>
    <input [(ngModel)]="no1" />
    <input [(ngModel)]="no222" />
    <h3>Addition {{ no1 }} and {{ no222 }} is {{ +no1 + +no222 }}</h3>
  </div>

  <div class="p-2 m-2 border">
    <div>Addition</div>
    <input #mybox1 />
    <input ref-mybox2 />
    <button
      class="btn btn-success mx-2"
      (click)="addition(mybox1.value, mybox2.value)"
    >
      Add
    </button>
    <div>Addition of Two Number is {{ addResult }}</div>
  </div>
</div>
